body {
    background-image: url("../img/rm4.jpg");
}
h1 {

    text-align: center;
    font-size: 100px;
    font-family: 'Emilys Candy' ;
    background-image: url("../img/real.jpg");
   background-position: 100%;
   background-repeat: no-repeat;
}
input {
    width: 100%;

}

p {
    font-size: 30px;
    font-style: italic;
    color: #17202A;
}
ul {
  font-size: 20px;
  font-style: italic;
  color: #17202A;
}
